#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_16 {
  background-image: url('../../images/[Generated] b8867d91-ab75-4cc6-b6dd-82448ddd839c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Button_1 {
  background-image: url('../../images/[Generated] d9b31d8d-6c64-4065-aecf-10c3348e8b04.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Button_2 {
  background-image: url('../../images/[Generated] b07d8818-b5ae-46b2-8ab0-398c09a176fc.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}