#s-113c635a-5643-420b-b204-5922f7340935 {
  background-color: transparent;
  min-width: 399px;
  min-height: 810px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Group_1 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_2 {
  position: absolute;
  top: 133px;
  left: 31px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_1 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_3 {
  position: absolute;
  top: 621px;
  left: 50px;
  width: 318px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: url('../../images/0fa10e16-fa16-4475-a43a-73f70ff2d20c.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_3 {
  position: absolute;
  top: 657px;
  left: 55px;
  width: 50px;
  height: 14px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_4 {
  position: absolute;
  top: 658px;
  left: 109px;
  width: 56px;
  height: 11px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_5 {
  position: absolute;
  top: 658px;
  left: 168px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_6 {
  position: absolute;
  top: 658px;
  left: 239px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_13 {
  position: absolute;
  top: 625px;
  left: 64px;
  width: 30px;
  height: 30px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_7 {
  position: absolute;
  top: 658px;
  left: 309px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_15 {
  position: absolute;
  top: 624px;
  left: 322px;
  width: 32px;
  height: 32px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_6 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_6 span#rtr-s-Rich_text_6_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_18 {
  position: absolute;
  top: 626px;
  left: 124px;
  width: 28px;
  height: 28px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_2 {
  position: absolute;
  top: 629px;
  left: 254px;
  width: 24px;
  height: 24px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_5 {
  position: absolute;
  top: 628px;
  left: 184px;
  width: 28px;
  height: 28px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Back {
  position: absolute;
  top: 197px;
  left: 59px;
  width: 61px;
  height: 28px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 28px;
  background-color: transparent;
  background-image: url('../../images/9fca934e-bdc0-43eb-b88b-682fdf5622cf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_16 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 44px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/8e9ab8dc-253d-4f2f-af10-39192e5ec6a9.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #596368;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #596368;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #596368;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_16 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Group_2 {
  position: absolute;
  top: 241px;
  left: 57px;
  width: 305px;
  height: 96px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 303px;
  height: 94px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_3 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 100px;
  height: 76px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_2 {
  position: absolute;
  top: 10px;
  left: 120px;
  width: 179px;
  height: 48px;
  background-color: transparent;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_2 {
  position: absolute;
  top: 63px;
  left: 146px;
  width: 115px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_14 {
  position: absolute;
  top: 63px;
  left: 121px;
  width: 20px;
  height: 20px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Group_3 {
  position: absolute;
  top: 336px;
  left: 57px;
  width: 305px;
  height: 96px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 303px;
  height: 94px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_4 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 100px;
  height: 76px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_3 {
  position: absolute;
  top: 10px;
  left: 120px;
  width: 179px;
  height: 48px;
  background-color: transparent;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_3 span#rtr-s-Rich_text_3_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_8 {
  position: absolute;
  top: 63px;
  left: 146px;
  width: 106px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_16 {
  position: absolute;
  top: 63px;
  left: 121px;
  width: 20px;
  height: 20px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Group_4 {
  position: absolute;
  top: 431px;
  left: 57px;
  width: 305px;
  height: 96px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 303px;
  height: 94px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_6 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 100px;
  height: 76px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_4 {
  position: absolute;
  top: 10px;
  left: 120px;
  width: 179px;
  height: 48px;
  background-color: transparent;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_4 span#rtr-s-Rich_text_4_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_9 {
  position: absolute;
  top: 63px;
  left: 146px;
  width: 101px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_17 {
  position: absolute;
  top: 63px;
  left: 121px;
  width: 20px;
  height: 20px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Group_5 {
  position: absolute;
  top: 526px;
  left: 57px;
  width: 305px;
  height: 95px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 303px;
  height: 93px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_7 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 100px;
  height: 75px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_5 {
  position: absolute;
  top: 10px;
  left: 120px;
  width: 179px;
  height: 47px;
  background-color: transparent;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_5 span#rtr-s-Rich_text_5_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_10 {
  position: absolute;
  top: 61px;
  left: 146px;
  width: 107px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Image_19 {
  position: absolute;
  top: 61px;
  left: 121px;
  width: 20px;
  height: 20px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rectangle_8 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 480px;
  background-color: #000000;
  opacity: 0.92;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_1 {
  position: absolute;
  top: 228px;
  left: 93px;
  width: 269px;
  height: 410px;
  background-color: transparent;
  line-height: 22px;
  font-size: 11pt;
  font-family: Arial;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_1 {
  position: absolute;
  top: 231px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_2 {
  position: absolute;
  top: 276px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_3 {
  position: absolute;
  top: 298px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_4 {
  position: absolute;
  top: 320px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_5 {
  position: absolute;
  top: 341px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_6 {
  position: absolute;
  top: 363px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_7 {
  position: absolute;
  top: 385px;
  left: 62px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_8 {
  position: absolute;
  top: 408px;
  left: 63px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_9 {
  position: absolute;
  top: 430px;
  left: 63px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_10 {
  position: absolute;
  top: 452px;
  left: 63px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_11 {
  position: absolute;
  top: 473px;
  left: 63px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_12 {
  position: absolute;
  top: 495px;
  left: 63px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Input_13 {
  position: absolute;
  top: 517px;
  left: 63px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Group_6 {
  position: absolute;
  top: 548px;
  left: 60px;
  width: 164px;
  height: 39px;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 37px;
  background-color: #C0161D;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #969696;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #969696;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #969696;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 87px;
  width: 75px;
  height: 37px;
  background-color: #009B58;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #969696;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #969696;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #969696;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-113c635a-5643-420b-b204-5922f7340935 #s-Button_2 .valign {
  vertical-align: middle;
}