#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_3 {
  background-image: url('../../images/[Generated] 5506d36c-b8e0-4afa-af14-c2c19911f523.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_4 {
  background-image: url('../../images/[Generated] fb56ce81-6697-4f88-a3a0-a919b2a1b4a2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=79);
  filter: alpha(opacity=79);
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_4 {
  background-image: url('../../images/[Generated] 8134e059-aa25-4020-b1e9-95790647df79.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_5 {
  background-image: url('../../images/[Generated] b5f7b05f-0c96-4c63-90ca-4f006ae94c0a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}