#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed {
  background-color: transparent;
  min-width: 399px;
  min-height: 810px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Group_1 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rectangle_3 {
  position: absolute;
  top: 133px;
  left: 31px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Label_1 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Label_1 .valign {
  vertical-align: middle;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Image_4 {
  position: absolute;
  top: 209px;
  left: 149px;
  width: 120px;
  height: 49px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 {
  position: absolute;
  top: 295px;
  left: 67px;
  width: 288px;
  height: 133px;
  background-color: transparent;
  font-size: 14pt;
  font-family: Kolektiv;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_2 span#rtr-s-Rich_text_2_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_3 {
  position: absolute;
  top: 541px;
  left: 155px;
  width: 105px;
  height: 37px;
  background-color: #00A65E;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #969696;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #969696;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #969696;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_3 .valign {
  vertical-align: middle;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_4 {
  position: absolute;
  top: 637px;
  left: 285px;
  width: 75px;
  height: 20px;
  background-color: #F5F5F4;
  background-image: -moz-linear-gradient(top,#F5F5F4,#E1E1E1);
  background-image: -webkit-linear-gradient(top,#F5F5F4,#E1E1E1);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F5F5F4), color-stop(100%,#E1E1E1));
  background-image: -o-linear-gradient(top,#F5F5F4,#E1E1E1);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #969696;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #969696;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #969696;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_4 .valign {
  vertical-align: middle;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rectangle_4 {
  position: absolute;
  top: 189px;
  left: 49px;
  width: 320px;
  height: 481px;
  background-color: #000000;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.79;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Group_3 {
  position: absolute;
  top: 290px;
  left: 71px;
  width: 276px;
  height: 165px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Group_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 276px;
  height: 165px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 276px;
  height: 31px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Image_6 {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 276px;
  height: 110px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Image_7 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 276px;
  height: 24px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Label_3 {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 254px;
  height: 22px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Label_3 .valign {
  vertical-align: middle;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_3 {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 240px;
  height: 58px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Arial;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_4 {
  position: absolute;
  top: 104px;
  left: 141px;
  width: 119px;
  height: 33px;
  background-color: transparent;
  background-image: url('../../images/6481afa3-07a6-47bd-8b2d-7b4437cb0cb5.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_5 {
  position: absolute;
  top: 104px;
  left: 8px;
  width: 119px;
  height: 33px;
  background-color: transparent;
  background-image: url('../../images/73bfcc88-9187-4a2e-b6fd-f7d27beee332.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 12pt;
  font-family: Arial;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}