#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_3 {
  background-image: url('../../images/[Generated] d0248de7-19d2-480a-859e-4b64836c732e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Button_4 {
  background-image: url('../../images/[Generated] 4099ece2-9799-40d6-85cf-a2b00e6d559b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=79);
  filter: alpha(opacity=79);
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_4 {
  background-image: url('../../images/[Generated] 776932cf-78eb-4f29-8e4d-2d982510bf72.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}
#s-15be385f-8ccc-4df6-8e04-b13b7b2992ed #s-Rich_text_5 {
  background-image: url('../../images/[Generated] 3ba2ea0f-5b14-4c77-9b21-bfed0288bfec.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}