#s-16279119-acdd-4831-9425-aec32293b115 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-16279119-acdd-4831-9425-aec32293b115 #s-Button_2 {
  background-image: url('../../images/[Generated] b5dee46e-bab3-45dc-9afe-14df32e5b319.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 60px;
  height: 36px;
}