#s-253228c4-6d04-4e4d-a1ff-23c2878929c7 #s-Label_16 {
  background-image: url('../../images/[Generated] b48afa2c-6e79-4de1-9895-7d5a789779cc.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-253228c4-6d04-4e4d-a1ff-23c2878929c7 #s-Label_17 {
  background-image: url('../../images/[Generated] 43815430-1e0a-48b3-b86e-e455cd0d048b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}