#s-253228c4-6d04-4e4d-a1ff-23c2878929c7 #s-Label_16 {
  background-image: url('../../images/[Generated] ac404d7d-5823-4508-8a36-18996ea9dbd1.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}