#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rectangle_1 {
  background-image: url('../../images/[Generated] f52a9dda-44d0-4e86-90ca-19fae17c304a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 249px;
  height: 37px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64);
  filter: alpha(opacity=64);
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}