#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 {
  background-color: transparent;
  min-width: 399px;
  min-height: 810px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_1 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_16 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_17 {
  position: absolute;
  top: 232px;
  left: 50px;
  width: 320px;
  height: 390px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_18 {
  position: absolute;
  top: 446px;
  left: 119px;
  width: 30px;
  height: 29px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_25 {
  position: absolute;
  top: 507px;
  left: 88px;
  width: 255px;
  height: 9px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rectangle_1 {
  position: absolute;
  top: 466px;
  left: 88px;
  width: 247px;
  height: 35px;
  background-color: #404040;
  background-image: url('../../images/68ac3f1e-aa1e-43fc-8ef5-856e76cc5574.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.64;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_26 {
  position: absolute;
  top: 508px;
  left: 192px;
  width: 29px;
  height: 20px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_5 {
  position: absolute;
  top: 470px;
  left: 100px;
  width: 164px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 13pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_6 {
  position: absolute;
  top: 488px;
  left: 100px;
  width: 167px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 9pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_27 {
  position: absolute;
  top: 472px;
  left: 238px;
  width: 32px;
  height: 32px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_28 {
  position: absolute;
  top: 474px;
  left: 275px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_29 {
  position: absolute;
  top: 476px;
  left: 310px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rich_text_14 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rich_text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rich_text_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rich_text_14 span#rtr-s-Rich_text_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_23 {
  position: absolute;
  top: 195px;
  left: 333px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Rectangle_3 {
  position: absolute;
  top: 621px;
  left: 50px;
  width: 318px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: url('../../images/0fa10e16-fa16-4475-a43a-73f70ff2d20c.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_3 {
  position: absolute;
  top: 657px;
  left: 54px;
  width: 50px;
  height: 14px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_4 {
  position: absolute;
  top: 658px;
  left: 109px;
  width: 56px;
  height: 11px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_7 {
  position: absolute;
  top: 658px;
  left: 168px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_8 {
  position: absolute;
  top: 658px;
  left: 239px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_13 {
  position: absolute;
  top: 625px;
  left: 64px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_9 {
  position: absolute;
  top: 658px;
  left: 309px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_15 {
  position: absolute;
  top: 624px;
  left: 322px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_19 {
  position: absolute;
  top: 626px;
  left: 124px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_2 {
  position: absolute;
  top: 629px;
  left: 254px;
  width: 24px;
  height: 24px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_5 {
  position: absolute;
  top: 628px;
  left: 184px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_1 {
  position: absolute;
  top: 524px;
  left: 187px;
  width: 35px;
  height: 35px;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_3 {
  position: absolute;
  top: 409px;
  left: 271px;
  width: 35px;
  height: 35px;
  opacity: 0.5;
}
#s-3a5b3df0-bcdb-4feb-8327-0a23e9afa758 #s-Image_4 {
  position: absolute;
  top: 304px;
  left: 148px;
  width: 35px;
  height: 35px;
  opacity: 0.5;
}