#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_17 {
  background-image: url('../../images/[Generated] 6a7711db-c1ad-492f-a5e5-0a8eefb02810.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Button_2 {
  background-image: url('../../images/[Generated] a680bc91-bf9f-49f7-97f9-c94bac6d476e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}