#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad {
  background-color: transparent;
  min-width: 399px;
  min-height: 810px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Group_1 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rectangle_2 {
  position: absolute;
  top: 133px;
  left: 31px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_8 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_8 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rich_text_1 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rich_text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Back {
  position: absolute;
  top: 197px;
  left: 59px;
  width: 61px;
  height: 28px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 28px;
  background-color: transparent;
  background-image: url('../../images/9fca934e-bdc0-43eb-b88b-682fdf5622cf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_17 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 44px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/8e9ab8dc-253d-4f2f-af10-39192e5ec6a9.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #596368;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #596368;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #596368;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_17 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rectangle_3 {
  position: absolute;
  top: 621px;
  left: 50px;
  width: 318px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: url('../../images/0fa10e16-fa16-4475-a43a-73f70ff2d20c.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_3 {
  position: absolute;
  top: 657px;
  left: 55px;
  width: 50px;
  height: 14px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_3 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_4 {
  position: absolute;
  top: 658px;
  left: 109px;
  width: 56px;
  height: 11px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_4 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_5 {
  position: absolute;
  top: 658px;
  left: 168px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_5 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_6 {
  position: absolute;
  top: 658px;
  left: 239px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_6 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_13 {
  position: absolute;
  top: 625px;
  left: 64px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_7 {
  position: absolute;
  top: 658px;
  left: 309px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_7 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_15 {
  position: absolute;
  top: 624px;
  left: 322px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_18 {
  position: absolute;
  top: 626px;
  left: 124px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_2 {
  position: absolute;
  top: 629px;
  left: 254px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_5 {
  position: absolute;
  top: 628px;
  left: 184px;
  width: 28px;
  height: 28px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_20 {
  position: absolute;
  top: 252px;
  left: 74px;
  width: 128px;
  height: 68px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_14 {
  position: absolute;
  top: 322px;
  left: 74px;
  width: 128px;
  height: 15px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_14 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_15 {
  position: absolute;
  top: 322px;
  left: 214px;
  width: 128px;
  height: 15px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_15 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_21 {
  position: absolute;
  top: 252px;
  left: 214px;
  width: 128px;
  height: 68px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_16 {
  position: absolute;
  top: 424px;
  left: 74px;
  width: 128px;
  height: 15px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_16 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_20 {
  position: absolute;
  top: 424px;
  left: 214px;
  width: 128px;
  height: 15px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_20 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_22 {
  position: absolute;
  top: 350px;
  left: 74px;
  width: 126px;
  height: 72px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_23 {
  position: absolute;
  top: 350px;
  left: 214px;
  width: 128px;
  height: 74px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_24 {
  position: absolute;
  top: 525px;
  left: 74px;
  width: 128px;
  height: 15px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_24 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_25 {
  position: absolute;
  top: 525px;
  left: 214px;
  width: 128px;
  height: 15px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_25 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_24 {
  position: absolute;
  top: 450px;
  left: 74px;
  width: 128px;
  height: 74px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_25 {
  position: absolute;
  top: 450px;
  left: 214px;
  width: 128px;
  height: 74px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Button_2 {
  position: absolute;
  top: 558px;
  left: 74px;
  width: 267px;
  height: 39px;
  background-color: #00376F;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #969696;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #969696;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #969696;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Button_2 .valign {
  vertical-align: middle;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Image_3 {
  position: absolute;
  top: 562px;
  left: 84px;
  width: 32px;
  height: 32px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Rectangle_1 {
  position: absolute;
  top: 197px;
  left: 62px;
  width: 56px;
  height: 33px;
  background-color: transparent;
  cursor: pointer;
}