#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Label_17 {
  background-image: url('../../images/[Generated] 90cff386-f70e-40c9-8d14-f30c2d08eff2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-3cd70359-ae8f-4f81-a77a-8b4cea6720ad #s-Button_2 {
  background-image: url('../../images/[Generated] 69cf33bf-c360-490e-9ded-58166ca01d69.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}