#s-45c3203f-691f-4576-883d-b2f429cf928e #s-Label_16 {
  background-image: url('../../images/[Generated] 2e5e5f7e-690b-4d37-ae3e-e1ed1c2acb3c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}