#s-6d28716b-78ed-4c12-8213-a5d7e1d5d78b #s-state_on > .valign {
  vertical-align: top;
}
#s-6d28716b-78ed-4c12-8213-a5d7e1d5d78b #s-state_off > .valign {
  vertical-align: top;
}
#s-6d28716b-78ed-4c12-8213-a5d7e1d5d78b #s-state_on_1 > .valign {
  vertical-align: top;
}
#s-6d28716b-78ed-4c12-8213-a5d7e1d5d78b #s-state_off_1 > .valign {
  vertical-align: top;
}