#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_1 {
  background-image: url('../../images/[Generated] 535fe054-8091-4d5b-9087-6d62e1f853da.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 291px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_2 {
  background-image: url('../../images/[Generated] bb747621-500a-417a-8f27-c6f93e2fa441.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 140px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_3 {
  background-image: url('../../images/[Generated] 09a092e5-135b-471e-87b6-05ce5ca9bcf5.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 139px;
  height: 208px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_4 {
  background-image: url('../../images/[Generated] c4707289-9474-4dc7-bf32-c2c9bef1e200.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 140px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_5 {
  background-image: url('../../images/[Generated] 4fc5bf69-c817-4e3a-8647-e2d8fa13ceb0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 140px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_6 {
  background-image: url('../../images/[Generated] cc997e4c-d6d7-4524-bc41-378e15b38d04.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 140px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_7 {
  background-image: url('../../images/[Generated] c06560a5-626e-46ec-a8a5-9cb94b2908a9.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 291px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_10 {
  background-image: url('../../images/[Generated] 137a449d-367f-4a3a-a98a-c1bcdee47f57.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 291px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_9 {
  background-image: url('../../images/[Generated] bbde345c-6fa8-4a72-9a42-2206381268c9.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 140px;
  height: 94px;
}
#s-87652081-8193-4158-ba5f-c1f3b17e658d #s-Button_11 {
  background-image: url('../../images/[Generated] e553f1d7-1b9d-4fd7-9c18-f21f7689e7f8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 140px;
  height: 94px;
}