#s-a2e549be-dc72-45dd-86b1-3c6dd22bff1b #s-Label_16 {
  background-image: url('../../images/[Generated] 7b5256e5-52d3-45f8-8cc3-273ba5d6d756.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}