#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Button_4 {
  background-image: url('../../images/[Generated] 99a90a08-686b-4f1a-af3f-640af4847179.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}