#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Button_3 {
  background-image: url('../../images/[Generated] 561a2038-4012-4ed4-9be6-d0cf73b243d0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}