#s-b2fe952a-aeb1-47f0-abba-4ad7f740b87c #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-b2fe952a-aeb1-47f0-abba-4ad7f740b87c #s-Label_16 {
  background-image: url('../../images/[Generated] 616a4629-2e8d-4897-8b4b-0d9bcf45e288.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}