#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b {
  background-color: transparent;
  min-width: 399px;
  min-height: 810px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_1 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_1 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_16 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_17 {
  position: absolute;
  top: 232px;
  left: 50px;
  width: 320px;
  height: 438px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_18 {
  position: absolute;
  top: 446px;
  left: 119px;
  width: 30px;
  height: 29px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_22 {
  position: absolute;
  top: 564px;
  left: 189px;
  width: 40px;
  height: 40px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_25 {
  position: absolute;
  top: 507px;
  left: 88px;
  width: 255px;
  height: 9px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rectangle_1 {
  position: absolute;
  top: 466px;
  left: 88px;
  width: 247px;
  height: 35px;
  background-color: #404040;
  background-image: url('../../images/68ac3f1e-aa1e-43fc-8ef5-856e76cc5574.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.64;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_5 {
  position: absolute;
  top: 470px;
  left: 100px;
  width: 164px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 13pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_5 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_27 {
  position: absolute;
  top: 472px;
  left: 238px;
  width: 32px;
  height: 32px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_28 {
  position: absolute;
  top: 474px;
  left: 275px;
  width: 28px;
  height: 28px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_29 {
  position: absolute;
  top: 476px;
  left: 310px;
  width: 27px;
  height: 27px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rich_text_14 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rich_text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rich_text_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rich_text_14 span#rtr-s-Rich_text_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_23 {
  position: absolute;
  top: 195px;
  left: 333px;
  width: 32px;
  height: 32px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rectangle_2 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 321px;
  height: 485px;
  background-color: #000000;
  opacity: 0.9;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_24 {
  position: absolute;
  top: 322px;
  left: 115px;
  width: 169px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_24 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_26 {
  position: absolute;
  top: 261px;
  left: 115px;
  width: 159px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_26 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_2 {
  position: absolute;
  top: 251px;
  left: 60px;
  width: 40px;
  height: 40px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_4 {
  position: absolute;
  top: 195px;
  left: 55px;
  width: 32px;
  height: 32px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_22 {
  position: absolute;
  top: 202px;
  left: 88px;
  width: 42px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_22 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Line_1 {
  position: absolute;
  top: 232px;
  left: 50px;
  width: 321px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Image_6 {
  position: absolute;
  top: 310px;
  left: 60px;
  width: 40px;
  height: 40px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Input_2 {
  position: absolute;
  top: 359px;
  left: 116px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_2 {
  position: absolute;
  top: 356px;
  left: 148px;
  width: 48px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_2 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Input_3 {
  position: absolute;
  top: 389px;
  left: 116px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_3 {
  position: absolute;
  top: 386px;
  left: 148px;
  width: 88px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_3 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Input_4 {
  position: absolute;
  top: 417px;
  left: 116px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_4 {
  position: absolute;
  top: 414px;
  left: 148px;
  width: 78px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_4 .valign {
  vertical-align: middle;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Input_1 {
  position: absolute;
  top: 444px;
  left: 116px;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_6 {
  position: absolute;
  top: 441px;
  left: 148px;
  width: 78px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Label_6 .valign {
  vertical-align: middle;
}