#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rectangle_1 {
  background-image: url('../../images/[Generated] 73cb67fe-147b-4896-9ae8-2eb4298b415c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 249px;
  height: 37px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64);
  filter: alpha(opacity=64);
}
#s-c9432c59-7d6e-4795-b59d-e9e1e08eff8b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}