#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 {
  background-color: transparent;
  min-width: 817px;
  min-height: 810px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Group_2 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_8 {
  position: absolute;
  top: 133px;
  left: 31px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_11 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_9 {
  position: absolute;
  top: 621px;
  left: 50px;
  width: 318px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: url('../../images/0fa10e16-fa16-4475-a43a-73f70ff2d20c.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_12 {
  position: absolute;
  top: 657px;
  left: 55px;
  width: 50px;
  height: 14px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_13 {
  position: absolute;
  top: 658px;
  left: 109px;
  width: 56px;
  height: 11px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_13 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_14 {
  position: absolute;
  top: 658px;
  left: 168px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_14 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_15 {
  position: absolute;
  top: 658px;
  left: 239px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_15 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_20 {
  position: absolute;
  top: 625px;
  left: 64px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_17 {
  position: absolute;
  top: 658px;
  left: 309px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_17 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_21 {
  position: absolute;
  top: 624px;
  left: 322px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_10 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_22 {
  position: absolute;
  top: 626px;
  left: 124px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_8 {
  position: absolute;
  top: 629px;
  left: 254px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_9 {
  position: absolute;
  top: 628px;
  left: 184px;
  width: 28px;
  height: 28px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_10 {
  position: absolute;
  top: 292px;
  left: 50px;
  width: 320px;
  height: 172px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_10 {
  position: absolute;
  top: 422px;
  left: 50px;
  width: 318px;
  height: 40px;
  background-color: #404040;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.92;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_19 {
  position: absolute;
  top: 432px;
  left: 49px;
  width: 322px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_19 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_24 {
  position: absolute;
  top: 429px;
  left: 345px;
  width: 25px;
  height: 25px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_25 {
  position: absolute;
  top: 429px;
  left: 49px;
  width: 25px;
  height: 25px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_26 {
  position: absolute;
  top: 292px;
  left: 318px;
  width: 39px;
  height: 67px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Back_1 {
  position: absolute;
  top: 197px;
  left: 59px;
  width: 61px;
  height: 28px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 28px;
  background-color: transparent;
  background-image: url('../../images/9fca934e-bdc0-43eb-b88b-682fdf5622cf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_21 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 44px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/8e9ab8dc-253d-4f2f-af10-39192e5ec6a9.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #596368;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #596368;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #596368;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_21 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_13 {
  position: absolute;
  top: 232px;
  left: 49px;
  width: 319px;
  height: 59px;
  background-color: #0A0A0A;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Button_1 {
  position: absolute;
  top: 249px;
  left: 327px;
  width: 32px;
  height: 18px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_4 {
  position: absolute;
  top: 249px;
  left: 186px;
  padding-left: 5px;
  width: 60px;
  height: 22px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_5 {
  position: absolute;
  top: 249px;
  left: 256px;
  padding-left: 5px;
  width: 59px;
  height: 22px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_6 {
  position: absolute;
  top: 249px;
  left: 54px;
  padding-left: 5px;
  width: 122px;
  height: 22px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Line_2 {
  position: absolute;
  top: 249px;
  left: 160px;
  width: 0px;
  height: 24px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_11 {
  position: absolute;
  top: 254px;
  left: 164px;
  width: 15px;
  height: 15px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_2 {
  position: absolute;
  top: 195px;
  left: 334px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_11 {
  position: absolute;
  top: 464px;
  left: 50px;
  width: 318px;
  height: 156px;
  background-color: #FFEEE6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_5 {
  position: absolute;
  top: 469px;
  left: 165px;
  width: 170px;
  height: 63px;
  background-color: transparent;
  cursor: pointer;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Line_5 {
  position: absolute;
  top: 584px;
  left: 50px;
  width: 320px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_16 {
  position: absolute;
  top: 557px;
  left: 166px;
  width: 140px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_16 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_12 {
  position: absolute;
  top: 473px;
  left: 56px;
  width: 100px;
  height: 76px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_18 {
  position: absolute;
  top: 538px;
  left: 166px;
  width: 140px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_18 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_23 {
  position: absolute;
  top: 593px;
  left: 57px;
  width: 32px;
  height: 19px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_20 {
  position: absolute;
  top: 593px;
  left: 321px;
  width: 43px;
  height: 20px;
  background-color: #95CAFF;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_20 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_27 {
  position: absolute;
  top: 592px;
  left: 108px;
  width: 20px;
  height: 20px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_22 {
  position: absolute;
  top: 592px;
  left: 133px;
  width: 81px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_22 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Group_1 {
  position: absolute;
  top: 57px;
  left: 437px;
  width: 380px;
  height: 753px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_2 {
  position: absolute;
  top: 133px;
  left: 31px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_1 {
  position: absolute;
  top: 19px;
  left: 437px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_6 {
  position: absolute;
  top: 189px;
  left: 468px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_3 {
  position: absolute;
  top: 232px;
  left: 468px;
  width: 320px;
  height: 172px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_4 {
  position: absolute;
  top: 392px;
  left: 468px;
  width: 318px;
  height: 40px;
  background-color: #404040;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.92;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_8 {
  position: absolute;
  top: 402px;
  left: 467px;
  width: 322px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_16 {
  position: absolute;
  top: 399px;
  left: 763px;
  width: 25px;
  height: 25px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_17 {
  position: absolute;
  top: 399px;
  left: 467px;
  width: 25px;
  height: 25px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_19 {
  position: absolute;
  top: 232px;
  left: 736px;
  width: 39px;
  height: 67px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Back {
  position: absolute;
  top: 197px;
  left: 477px;
  width: 61px;
  height: 28px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 28px;
  background-color: transparent;
  background-image: url('../../images/9fca934e-bdc0-43eb-b88b-682fdf5622cf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_23 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 44px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/8e9ab8dc-253d-4f2f-af10-39192e5ec6a9.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #596368;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #596368;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #596368;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_23 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_28 {
  position: absolute;
  top: 195px;
  left: 752px;
  width: 32px;
  height: 32px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_14 {
  position: absolute;
  top: 404px;
  left: 468px;
  width: 318px;
  height: 156px;
  background-color: #FFEEE6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_7 {
  position: absolute;
  top: 419px;
  left: 583px;
  width: 170px;
  height: 63px;
  background-color: transparent;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Line_6 {
  position: absolute;
  top: 524px;
  left: 468px;
  width: 320px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_24 {
  position: absolute;
  top: 497px;
  left: 584px;
  width: 140px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_24 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_13 {
  position: absolute;
  top: 423px;
  left: 474px;
  width: 100px;
  height: 76px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_25 {
  position: absolute;
  top: 478px;
  left: 584px;
  width: 140px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_25 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_29 {
  position: absolute;
  top: 533px;
  left: 475px;
  width: 32px;
  height: 19px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_26 {
  position: absolute;
  top: 533px;
  left: 739px;
  width: 43px;
  height: 20px;
  background-color: #95CAFF;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_26 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_30 {
  position: absolute;
  top: 532px;
  left: 526px;
  width: 20px;
  height: 20px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_27 {
  position: absolute;
  top: 532px;
  left: 551px;
  width: 81px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_27 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_15 {
  position: absolute;
  top: 561px;
  left: 468px;
  width: 318px;
  height: 108px;
  background-color: #FFEEE6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_8 {
  position: absolute;
  top: 567px;
  left: 583px;
  width: 170px;
  height: 63px;
  background-color: transparent;
  line-height: 22px;
  font-size: 10pt;
  font-family: Arial;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_28 {
  position: absolute;
  top: 636px;
  left: 584px;
  width: 120px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_28 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_29 {
  position: absolute;
  top: 616px;
  left: 584px;
  width: 140px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_29 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Line_10 {
  position: absolute;
  top: 559px;
  left: 468px;
  width: 320px;
  height: 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_4 {
  position: absolute;
  top: 572px;
  left: 474px;
  width: 100px;
  height: 76px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_16 {
  position: absolute;
  top: 622px;
  left: 468px;
  width: 318px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: url('../../images/0fa10e16-fa16-4475-a43a-73f70ff2d20c.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_30 {
  position: absolute;
  top: 658px;
  left: 473px;
  width: 50px;
  height: 14px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_30 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_31 {
  position: absolute;
  top: 659px;
  left: 527px;
  width: 56px;
  height: 11px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_31 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_32 {
  position: absolute;
  top: 659px;
  left: 586px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_32 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_33 {
  position: absolute;
  top: 659px;
  left: 657px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_33 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_31 {
  position: absolute;
  top: 626px;
  left: 482px;
  width: 30px;
  height: 30px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_34 {
  position: absolute;
  top: 659px;
  left: 727px;
  width: 58px;
  height: 11px;
  background-color: transparent;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_34 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_32 {
  position: absolute;
  top: 625px;
  left: 740px;
  width: 32px;
  height: 32px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_33 {
  position: absolute;
  top: 627px;
  left: 542px;
  width: 28px;
  height: 28px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_14 {
  position: absolute;
  top: 630px;
  left: 672px;
  width: 24px;
  height: 24px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_15 {
  position: absolute;
  top: 629px;
  left: 602px;
  width: 28px;
  height: 28px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_17 {
  position: absolute;
  top: 189px;
  left: 468px;
  width: 321px;
  height: 481px;
  background-color: #000000;
  opacity: 0.92;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_5 {
  position: absolute;
  top: 195px;
  left: 473px;
  width: 32px;
  height: 32px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_38 {
  position: absolute;
  top: 202px;
  left: 506px;
  width: 42px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_38 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Line_1 {
  position: absolute;
  top: 232px;
  left: 468px;
  width: 321px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_3 {
  position: absolute;
  top: 296px;
  left: 466px;
  padding-left: 5px;
  width: 299px;
  height: 39px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Line_3 {
  position: absolute;
  top: 296px;
  left: 732px;
  width: 0px;
  height: 41px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Image_18 {
  position: absolute;
  top: 301px;
  left: 737px;
  width: 30px;
  height: 30px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Button_2 {
  position: absolute;
  top: 417px;
  left: 466px;
  width: 76px;
  height: 32px;
  background-color: #C0C0C0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 1px;
  -moz-border-radius-topleft: 1px;
  -webkit-border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  -moz-border-radius-topright: 1px;
  -webkit-border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  -moz-border-radius-bottomleft: 1px;
  -webkit-border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  -webkit-border-bottom-right-radius: 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_1 {
  position: absolute;
  top: 353px;
  left: 466px;
  padding-left: 5px;
  width: 144px;
  height: 46px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_2 {
  position: absolute;
  top: 353px;
  left: 623px;
  padding-left: 5px;
  width: 141px;
  height: 46px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_1 {
  position: absolute;
  top: 197px;
  left: 62px;
  width: 56px;
  height: 33px;
  background-color: transparent;
  cursor: pointer;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_2 {
  position: absolute;
  top: 257px;
  left: 467px;
  width: 176px;
  height: 22px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_2 .valign {
  vertical-align: middle;
}