#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_21 {
  background-image: url('../../images/[Generated] 6186a462-bbbf-44a9-a974-6f8575791475.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Button_1 {
  background-image: url('../../images/[Generated] 4e2249f8-bd33-4ab8-b4bc-7fe313ed51df.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 34px;
  height: 20px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Label_23 {
  background-image: url('../../images/[Generated] 9b79f7d0-32e6-441b-a517-cd59d6d79c1f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-d5bc9b6d-3da4-4b08-b932-68f1e704a7c9 #s-Button_2 {
  background-image: url('../../images/[Generated] 914f7153-edca-4a8d-b7af-a3186b2b684c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 78px;
  height: 34px;
}