#s-da62f149-acbb-4309-8312-9c69bb81724d #s-Button_2 {
  background-image: url('../../images/[Generated] 817d28b9-0347-43de-92ac-f8e36db7e6e0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
}