#s-e306a3a6-30ec-459a-bc4e-20c806e6542a #s-Label_16 {
  background-image: url('../../images/[Generated] 437f2cae-21a1-4f3f-8301-2ed90881ad4f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}