#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_16 {
  background-image: url('../../images/[Generated] 818b8d19-0baa-46b7-bdda-f8cc21b5c2ca.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 45px;
  height: 22px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}