#s-e38c1269-d2a8-461b-8ab7-119fa962581a {
  background-color: transparent;
  min-width: 399px;
  min-height: 810px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Group_1 {
  position: absolute;
  top: 57px;
  left: 19px;
  width: 380px;
  height: 753px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rectangle_2 {
  position: absolute;
  top: 133px;
  left: 31px;
  width: 320px;
  height: 479px;
  background-color: #FFFFFF;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_1 {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 380px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Kolektiv;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_1 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_3 {
  position: absolute;
  top: 232px;
  left: 50px;
  width: 321px;
  height: 172px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_1 {
  position: absolute;
  top: 419px;
  left: 62px;
  width: 293px;
  height: 102px;
  background-color: transparent;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_4 {
  position: absolute;
  top: 239px;
  left: 52px;
  width: 32px;
  height: 32px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_7 {
  position: absolute;
  top: 240px;
  left: 336px;
  width: 32px;
  height: 32px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_2 {
  position: absolute;
  top: 521px;
  left: 62px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_2 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_7 {
  position: absolute;
  top: 545px;
  left: 62px;
  width: 200px;
  height: 35px;
  background-color: transparent;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_3 {
  position: absolute;
  top: 589px;
  left: 62px;
  width: 60px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_3 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_9 {
  position: absolute;
  top: 613px;
  left: 62px;
  width: 200px;
  height: 35px;
  background-color: transparent;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_14 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/982766a8-3997-4d98-9ed9-cc801a189a62.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rich_text_14 span#rtr-s-Rich_text_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Back {
  position: absolute;
  top: 197px;
  left: 59px;
  width: 61px;
  height: 28px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 28px;
  background-color: transparent;
  background-image: url('../../images/9fca934e-bdc0-43eb-b88b-682fdf5622cf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_16 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 44px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/8e9ab8dc-253d-4f2f-af10-39192e5ec6a9.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #596368;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #596368;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #596368;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_16 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_22 {
  position: absolute;
  top: 195px;
  left: 333px;
  width: 32px;
  height: 32px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Rectangle_1 {
  position: absolute;
  top: 189px;
  left: 50px;
  width: 321px;
  height: 485px;
  background-color: #000000;
  opacity: 0.85;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_25 {
  position: absolute;
  top: 267px;
  left: 63px;
  width: 40px;
  height: 40px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_26 {
  position: absolute;
  top: 338px;
  left: 61px;
  width: 40px;
  height: 40px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_24 {
  position: absolute;
  top: 347px;
  left: 115px;
  width: 126px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_24 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_26 {
  position: absolute;
  top: 276px;
  left: 115px;
  width: 159px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_26 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Image_5 {
  position: absolute;
  top: 195px;
  left: 55px;
  width: 32px;
  height: 32px;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_22 {
  position: absolute;
  top: 202px;
  left: 88px;
  width: 42px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Label_22 .valign {
  vertical-align: middle;
}
#s-e38c1269-d2a8-461b-8ab7-119fa962581a #s-Line_1 {
  position: absolute;
  top: 232px;
  left: 50px;
  width: 321px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
}