<script id="tpl_select_language" type="text/html">
<div id="select_language" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="ztl_content ztl_content_extra ztl_select_language">	
		<div class="ztl_item_details">
			<div class="ztl_item_details_title">{{set_language}}</div>
			<div class="grey_line select_language_line" style="margin-top:5px; margin-bottom:40px;"></div>
		</div>
		<div class="ztl_red_button select_language_button" onClick="opacity($(this)); select_language(1);">SLOVENŠČINA</div>
		<br>
		<div class="ztl_red_button select_language_button" onClick="opacity($(this)); select_language(2);">ENGLISH</div>
		<br>
		<div class="ztl_red_button select_language_button" onClick="opacity($(this)); select_language(3);">DEUTSCH</div>
		<br>
		<div class="ztl_red_button select_language_button" onClick="opacity($(this)); select_language(4);">ITALIANO</div>
		<br>
		<div class="ztl_red_button select_language_button" onClick="opacity($(this)); select_language(5);">FRANCAIS</div>
	</div>
</div>
</script>