<script id="tpl_guide_buy" type="text/html">
<div id="guide_buy" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>
			<div class="header_title_menu">{{title}}</div>
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>

	<div class="ztl_content">	
		<div class="event_filter_content">
			<div class="settings_content">
				<div class="ztl_item_details_title">{{guide_buy_desc}}</div>
				<div class="grey_line set_filter_line"></div>
				<div class="ztl_item_details_desc" style="margin-bottom:30px;">{{guide_buy_desc_text}}</div>

				<div class="ztl_item_details_title">{{guide_buy_locations}}</div>
				<div class="grey_line set_filter_line"></div>
				{{#items}}
					<li class="ztl_list_li ztl_bullet">
						<div class="ztl_item_details_desc">{{& title}}</div>
					</li>
				{{/items}}
			</div>
		</div>
	</div>

	<div class="ztl_distance_to_footer">&nbsp;</div>

	<div class="ztl_content buy_guide_button">	
		<div class="event_filter_content">
			<div class="ztl_red_button ztl_red_button_big ztl_synhronization_button" onClick="opacity($(this)); buy_guide();">{{guide_buy_button}}</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>