<script id="tpl_poigroup" type="text/html">
<div id="poigroup_{{poigroup_id}}" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>

			<div onClick="opacity($(this)); go_back();"><img class="header_back"></div>
			<div><img class="header_divider"></div>
			<div class="header_title" onClick="opacity($(this)); go_back();">{{poigroup_title}}</div>

<!--
			<div onClick="opacity($(this)); load_page(template_lang+'poigroups.html', 'poigroups', trips[POIGROUP_GROUP], 'fade', false, POIGROUP_GROUP);"><img class="header_back"></div>
			<div><img class="header_divider"></div>
			<div class="header_title" onClick="opacity($(this)); load_page(template_lang+'poigroups.html', 'poigroups', trips[POIGROUP_GROUP], 'fade', false, POIGROUP_GROUP);">{{& poigroup_title}}</div>
-->
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>
	
	<div class="ztl_content ztl_content_extra">
	
	<div id="verticalWrapper">
	<div id="verticalScroller">

		<div class="ztl_navigate_events">
			{{#poigroup_image}}
				<div class="ztl_item_details_image">
					<div class="ztl_details_img_crop">
						<img class="ztl_details_image" src="{{poigroup_image}}"  style="position:relative;top:{{poigroup_top}}px;">
					</div>
				</div>
			{{/poigroup_image}}
			{{^poigroup_image}}
				<img class="ztl_details_image" src="./uploads/noimage_detail.png">
			{{/poigroup_image}}
			<div style="clear:both;"></div>
			<div class="ztl_item_content_padding">

				<div class="ztl_item_details">
					<div class="ztl_item_details_title" style="text-transform:uppercase;">{{ztl_item_details_description}}</div>
					<div class="grey_line"></div>
					<div class="ztl_item_details_desc">
						{{& poigroup_desc}}
					</div>
				</div>
			</div>

			<div class="ztl_item_details">
				<div id="ztl_item_details_price" class="ztl_item_details_title" style="text-transform:uppercase;">{{ztl_item_poigroup_list}}</div>
				<div class="grey_line"></div>
			</div>

	{{#items}}
		<li class="ztl_list_li">
			<div class="ztl_list_item" id="ztl_trips_item_{{id}}" onClick="load_poi({{id}}, 'fade', true, 1)">
				<div class="ztl_list_image">
					<div class="ztl_list_img_crop">
						{{#image}}
							<img class="ztl_items_image" src="{{image}}" style="position:relative;top:{{top}}px;">
						{{/image}}
						{{^image}}
							<img class="ztl_items_no_image" src="./uploads/noimage.png">
						{{/image}}
					</div>
				</div>
				<div class="ztl_list_content">
						<div class="ztl_list_header">{{& title}}</div>
						<div class="ztl_list_content_text">
							{{#address}}{{& address}},{{/address}}{{#post_number}} {{post_number}}{{/post_number}}{{#post}} {{& post}}{{/post}}
						</div>
						<div class="ztl_content_info_left"></div>
						{{#stars}}
							<div class="ztl_star">
								<img src="assets/css/ztl_images/star_{{star}}.png" class="img_star">
							</div>
						{{/stars}}
						<div class="ztl_distance"><div id="ztl_distance_value_{{id}}"></div></div>
						<input type="hidden" name="ztl_cord_{{id}}" value="{{id}}#{{coord_x}}#{{coord_y}}">
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="black_line"></div>
		</li>
	{{/items}}

			<div class="ztl_distance_to_footer">&nbsp;</div>
		</div>
	</div>
	</div>

	</div>
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>