<script id="tpl_tour" type="text/html">
<div id="tour_{{item.id}}" class="ztl_remove_from_page" style="overflow:hidden;">
	<div class="header">
		<div class="header_placeholder">
			<div class="red_line"></div>
			<div class="header_space"></div>

			<div onClick="opacity($(this)); go_back();"><img class="header_back"></div>
			<div><img class="header_divider"></div>
			<div class="header_title" onClick="opacity($(this)); go_back();">
				<div class="marquee">
					{{& item.title}}
				</div>
			</div>

<!--
			<div onClick="opacity($(this)); load_page(template_lang+'tours.html', 'tours', trips[6].tours[{{tour_category_id}}], 'fade', false, {{tour_category_id}});"><img class="header_back"></div>
			<div><img class="header_divider"></div>
			<div class="header_title" onClick="opacity($(this)); load_page(template_lang+'tours.html', 'tours', trips[6].tours[{{tour_category_id}}], 'fade', false, {{tour_category_id}});">
				<div class="marquee">
					{{& item.title}}
				</div>
			</div>
-->
			<div style="clear:both;"></div>
			<div class="header_space"></div>
		</div>
		<div class="header_shadow"></div>
	</div>
	
	<div class="ztl_content ztl_content_extra">
	
	<div id="verticalWrapper">
	<div id="verticalScroller">

		<div class="ztl_navigate_events">
			<!-- div class="ztl_item_shadow"></div -->
			{{#main_image}}
			<!-- div class="ztl_img_distance_container">
				<div class="ztl_distance_img">
					<img class="ztl_distance_arrow_img" src="assets/css/ztl_images/distance.png" >
					<div class="ztl_distance ztl_distance_poi"><div id="ztl_distance_value_{{item.id}}"></div></div>
				</div>
			</div>
			<input type="hidden" name="ztl_cord_{{item.id}}" value="{{item.id}}#{{item.coord_x}}#{{item.coord_y}}" -->

			<div class="ztl_item_details_image">
				<div class="ztl_details_img_crop">
					<img class="ztl_details_image" src="{{main_image}}"  style="position:relative;top:{{top}}px;">
				</div>
			</div>
			{{/main_image}}
			{{^main_image}}
				<img class="ztl_details_image" src="./uploads/noimage_detail.png">
			{{/main_image}}
			<div style="clear:both;"></div>
			<div class="ztl_item_content_padding">
				<div class="ztl_item_buttons">
					<div class="ztl_red_button ztl_item_right_button" onClick="add_to_my_visit({{item.id}},TOUR_GROUP,0,0,0);">MYVISIT</div>
				</div>
				<br>
				{{#sound}}
				<div onClick="play_voice_guide({{id}});" class="ztl_grey_button" style="position:relative;">
					<div class="sound_img">
						<img src="assets/css/ztl_images/icon_2.png" style="height:27px;">
					</div> 
					<div class="sound_txt">{{guide_button}}</div>
				</div>
				{{/sound}}
				<div class="ztl_item_details">
					<div class="ztl_item_details_title" style="text-transform:uppercase;">{{ztl_item_details_description}}</div>
					<div class="grey_line"></div>
					<div class="ztl_item_details_desc">
						{{& item.short_description}}
						{{& item.long_description}}
					</div>
					
					{{#charters}}
						<div class="ztl_item_details_title" style="text-transform:uppercase;">{{& title}}</div>
						<div class="grey_line"></div>
						<div class="ztl_item_details_desc">
							{{& content}}
						</div>
					{{/charters}}

					<div class="ztl_item_details_desc">
						{{& item.contact}}
					</div>
				</div>
				<div class="ztl_distance_to_footer">&nbsp;</div>
			</div>
		</div>
	</div>
	</div>

	</div>
	<div class="footer">
		<div class="footer_shadow"></div>
		<div class="header_placeholder">
			[[[ztl_footer]]]
		</div>
	</div>
</div>
</script>