<script id="tpl_ztl_footer" type="text/html">
	<ul class="footer_list">
		<li>
			<img class="icon_1" src="assets/css/ztl_images/icon_1.png" onClick="opacity($(this)); load_my_visit(1);" style="width:25px;">
		</li>
		<li>
			<img class="icon_2" src="assets/css/ztl_images/icon_2.png" style="width:25px;" onClick="opacity($(this)); add_to_history('fun--load_guide_buy--empty'); load_guide_buy();">
		</li>
		<li>
			<img class="icon_3" src="assets/css/ztl_images/icon_3.png" style="width:25px;" onClick="opacity($(this)); load_main_screen(1);">
		</li>
		<li>
			<img class="icon_4" src="assets/css/ztl_images/icon_4.png" style="width:25px;" onClick="opacity($(this)); load_show_map();">
		</li>
		<li>
			<img class="icon_5" src="assets/css/ztl_images/icon_5.png" style="width:25px;" onClick="opacity($(this)); add_to_history('fun--load_current_settings--empty'); load_current_settings();">
		</li>
	</ul>
</script>