<script id="tpl_ztl_synhronization" type="text/html">
<div id="ztl_synhronization" class="ztl_remove_from_page" style="overflow:hidden;">
		<div class="event_filter_content">
			<div class="close_button" onClick="load_current_settings();">
				<img class="close_img" >
			</div>
			<div class="settings_content">
				<div class="ztl_item_details_title">{{synhronization_title}}</div>
				<div class="grey_line set_filter_line"></div>

				<div class="ztl_item_details_desc" style="margin-bottom:30px;">{{synhronization_desc}}</div>

				<div class="ztl_red_button ztl_red_button_big ztl_synhronization_button" onClick="start_synhronization();">{{synhronization_button}}</div>
			</div>
		</div>
</div>
</script>
