<script id="tpl_ztl_media_player" type="text/html">
<div id="overlay" data-role="popup" data-overlay-theme="a" class="ui-content" data-corners="false">
	<div id="media_player" class="media_player">
		<input type="range" name="time-slider" id="time-slider" value="0" min="0" max="189" data-highlight="true"/>
		<a href="#" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-theme="c" data-inline="true" onClick="play();">Play</a>
		<a href="#" data-role="button" data-icon="grid" data-iconpos="notext" data-theme="c" data-inline="true" onClick="pause();">Pause</a>
	</div>
</div>
</script>