#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 {
  background-color: #FFFFFF;
  min-width: 982px;
  min-height: 768px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 42px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 102px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 222px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 162px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 462px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 402px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 282px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 942px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 882px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 822px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_12 {
  position: absolute;
  top: 0px;
  left: 762px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_13 {
  position: absolute;
  top: 0px;
  left: 702px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_14 {
  position: absolute;
  top: 0px;
  left: 642px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_15 {
  position: absolute;
  top: 0px;
  left: 582px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 522px;
  width: 40px;
  height: 768px;
  background-color: #FFE5E5;
}